.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 0;
  margin: 20px auto;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.light {
  background-color: white;
}

.dark {
  background-color: darkgreen;
}
